<html>
    <head>
        
    </head>
    <style>
      .wrapper {
      display: flex;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 240px;
      height: 100vh;
      background-color: #f2f2f2;
      color: #B32748;
      z-index: 1000;
    }

    .sidebar a {
      display: block;
      padding: 15px 20px;
      color: #000;
      text-decoration: none;
    }

    .sidebar a:hover {
      background-color: #fff;
      color: #B32748;
    }

    .content {
      margin-left: 240px;
      padding: 2rem;
      flex-grow: 1;
      width: calc(100% - 240px);
    }

    .topbar {
      position: fixed;
      top: 0;
      left: 240px;
      width: calc(100% - 240px);
      height: 60px;
      background-color: #f8f9fa;
      padding: 10px 20px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      z-index: 999;
    }

    .page-title {
      margin-top: 30px;
    }
    </style>
<body>
  <div class="sidebar">
    <a href="/"><h4>Silver Elegance</h4></a>
    <a href="/admin/dashboard">Dashboard</a>
    <a href="/admin/products">Products</a>
    <a href="/admin/categories">Categories</a>
    <a href="/admin/orders">Orders</a>
    <a href="/admin/users">Users</a>
    <a href="/admin/messages">Messages</a>
    <a href="/admin/specials">Specials</a>
    <a href="/logout">Logout</a>
  </div>
</body>
</html>
