<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-4 fixed-top">
<div class="container">
  <a class="navbar-brand" href="/">SILVER ELEGANCE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#product">Product</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
              <% categories.forEach(category => { %>
                <li>
                  <a class="dropdown-item" href="/products/<%= category.slug %>"><%= category.name %></a>
                </li>
              <% }) %>
        
              
          </ul>
        </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="#subscriber">Subscribe </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact US </a>
      </li>
 </ul>
 
  </div>
 <div class="navbar-nav right">
    <a href="/login" class="icon-link"><i class="bi bi-person me-3"></i></a>
    <a href="/cart" class="icon-link"><i class="bi bi-cart me-3"></i>
      <% if (cartCount > 0) { %>
      <span class="badge bg-danger"><%= cartCount %></span>
      <% } %>
    </a>
    <a href="/wishlist" class="icon-link"><i class="bi bi-heart me-3"></i></a>
 </div>
 
  </div>
</nav>
</html>