@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}

/*navbar*/
.navbar-light .navbar-brand {
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 500 !important;
  font-size: 18px;
}

.bi {
  cursor: pointer;
  font-size: 18px;
  color: #B32748;
}

/*slider*/
.w-100 {
  height: 550px !important;
  object-fit: cover !important;
}

.carousel-indicators [data-bs-target] {
  height: 30px !important;

}

.carousel-caption {
  left: 55% !important;
  bottom: 15.25rem !important;
  font: 1.5rem !important;
  font-weight: 600 !important;
  color: rgb(132, 19, 19) !important;
}

.slide-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: rgb(132, 19, 19) !important;
}

/*about us*/
.hr {
  margin: auto !important;
  width: 150px;
  height: 5px;
  background-color: #b18161;
  margin-bottom: 55px !important;
}

.about-text {
  color: #b18161;
}

.img-fluid1 {
  width: 100% !important;
  height: 90vh !important;
}

/*products*/
.card-img-top {
  transform-origin: 65% 75% !important;
  transition: transform 1s, filter .5s ease-out !important;
  cursor: pointer;
}

.card-img-top:hover {
  transform: scale(1.1) !important;
  filter: brightness(0.8) !important;
}

/*footer*/
.footer {
  background-color: #ddd6d2;
}

.nav-link {
  color: black !important;
}

.main-footer {
  padding: 10px !important;
  background-color: black !important;
  color: white !important;
  text-align: center !important;
}

/*login form*/

/* Login container (after navbar) */
.login-container {
  padding-top: 120px;
  /* space below navbar */
  display: flex;
  justify-content: center;
}

/* Login Box */
.login-box {
  width: 400px;
  padding: 40px 30px;
  background-color: #f2f2f2;
  border-radius: 12px;

}

.login-box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.login-box p {
  text-align: center;
  color: #444;
  font-size: 14px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-box .btn-login {
  margin: auto;
  width: 50%;
  padding: 12px;
  background-color: #B32748;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease;
  display: block;
  text-align: center;
  align-items: center;

}

.login-box button:hover {
  background-color: #8a5c7a;
}

.login-box .reg-box {
  width: 50%;
  display: block;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  font-weight: bold;
  border: #B32748 1px solid;
  color: #B32748;
  text-decoration: none;
  padding: 12px;
  margin: auto;
}

/*register container*/
.register-container {
  padding-top: 120px;
  /* space below navbar */
  display: flex;
  justify-content: center;

}

/* Register Box */
.register-box {
  width: 700px;
  align-items: center;
  padding: 40px 30px;
  background-color: #f2f2f2;
  border-radius: 12px;
}

.register-box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.register-box p {
  text-align: center;
  color: #444;
  font-size: 14px;
}

.register-box input {
  width: 70%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.register-box .btn-register {
  margin: auto;
  width: 50%;
  padding: 12px;
  background-color: #B32748;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease;
  display: block;
  text-align: center;
  align-items: center;
}

.register-box button:hover {
  background-color: #8a5c7a;
}

.register-box .terms {

  box-sizing: border-box;
  padding: 0;
}

.register-box .terms input {
  margin-right: 10px;
  cursor: pointer;
}

/* product by category */
.pro-container {
  padding-top: 50px;
}

.pd-container {
  margin-top: 50px;
}

/*cart*/
.cart-container {
  margin-top: 50px;
}

/*checkout*/
.checkout-container {
  margin-top: 50px;
}

/* login navbar */
.side-panel {
  position: fixed;
  right: -300px;
  width: 300px;
  top: 0;
  height: 100%;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s;
  padding: 20px;
  z-index: 999;
}

.side-panel .close-btn {
  cursor: pointer;
  font-size: 28px;
  float: right;
  color: #B32748;

}

.side-panel h3 {
  color: #B32748;
  padding: 10px;
}

.side-panel input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.side-panel .log {
  margin: auto;
  width: 50%;
  padding: 12px;
  background-color: #B32748;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease;
  display: block;
  text-align: center;
  align-items: center;
}

.side-panel .log :hover {
  background-color: #8a5c7a;
}

.side-panel a {
  color: #B32748;
  margin: auto;
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease;
  display: block;
  text-align: center;
  align-items: center;
}

.side-panel .member {
  padding: 12px;
  margin-top: 15px;
  border: 1px solid transparent;
  background-color: #f2f2f2;
  height: 100px;
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  font-weight: 18px;
}

.side-panel .join {
  color: #B32748;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #fff;
  background-color: #fff;
}
.side-panel .w{
  color: #B32748;
  font-weight: bold;
}
.side-panel .e{
  padding: 10px;
  text-align: left;
}
.side-panel .l{
  color: #B32748;
  font-weight: 20px;
}
.side-panel.open {
  right: 0;
}

/*customer sliderbar my details*/
    .fixed-sidebar {
      position: fixed;
      height: 100vh;
      margin-top: 100px;
    }

    .fixed-sidebar a {
      text-align: left;
      padding: 20px;
      z-index: 2;
      border-bottom: 1px solid #f2f2f2;
    }

    .fixed-sidebar a.active,
    .fixed-sidebar a:hover {
      background-color: white;
      border-bottom: 1px solid #B32748;
    }

     .dashboard-content {
      margin-top: 70px;
      margin-left: 300px;
      padding: 2rem;
    }
.dashboard-content .update{
  font-weight: bold;
  font-size: 18px;
  color: #B32748;
  border: 1px solid #B32748;
  height: 50px;
  align-items: center;
  text-align: center;
  width: 200px;
  background-color: #fff;
}
/*customer-dashboard------address*/
.address{
   margin-top: 70px;
      margin-left: 300px;
      padding: 2rem;
}
.btn-address{
  height: 50px;
  width: 30%;
  color: #B32748;
  border: 1px solid #B32748;
  font-weight: bold;
  background-color: #fff;
}
.btn-address:hover{
  color: #fff;
  background-color: #B32748;
}
/* customer-dashboard------change password*/
.c-pass{
   margin-top: 70px;
      margin-left: 300px;
      padding: 2rem;
}
.c-pass .pass{
  color: #B32748;
  border: 1px solid #B32748;
}
.c-pass .pass:hover{
  background-color: #B32748;
  color: #fff;
}
/*customer-dashboard my order details*/
.myorder{
   margin-top: 70px;
      margin-left: 300px;
      padding: 2rem;
      height: 400px;
}
.myorder .view{
  color: #B32748;
  border:1px solid #B32748;
}
.myorder .view:hover{
  background-color: #B32748;
  color: #fff;
}
.myorder .shopping{
  padding: 10px;
  margin-top: 20px;
border:1px solid #f2f2f2;
background-color: #f2f2f2;
position: relative;
}
.ss{
  margin-top: 1 rem;
  padding: 0.5rem 1rem;
  line-height: 1.57143;
  background-color: #B32748;
  color: #fff;
  font-weight: bold;
  appearance: none;
  transition: background .2s, color .2s, border-color .2s;
  cursor: pointer;
 text-decoration: none;   
}
.orderdetails{
      margin-top: 70px;
      margin-left: 300px;
      padding: 2rem;
      height: 400px;
}

.orderdetails .back{
  color: #B32748;
  border: 1px solid #B32748;
}
.orderdetails .back:hover{
  background-color: #B32748;
  color: #fff;
}
